<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TEST.Properties.Settings.BaseProjetConnectionString"
            connectionString="Data Source=DESKTOP-A00CEMV;Initial Catalog=BaseProjet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TEST.Properties.Settings.BaseProjetConnectionString1"
            connectionString="Data Source=DESKTOP-FCF2US8;Initial Catalog=BaseProjet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>